@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminViewS.cshtml"; 
}
<div class="mainbodyforitems" style="margin:8%;margin-top:0">
<h2>Admin Panel</h2>
<h4>@(ViewBag.Deleteddd)</h4>
<div></div>
@(ViewBag.Deleteddd=null);
<div class="mainbodyforitems" style=" width:30%" align="center">
<h4><button class="form-control">@Html.ActionLink("Orders", "SalesIndex")</button></h4>
<h4><button class="form-control">@Html.ActionLink(" Items", "ItemIndex")</button></h4>
<h4><button class="form-control">@Html.ActionLink(" Users", "UserIndex")</button></h4>
<h4><button class="form-control">@Html.ActionLink(" Categories", "AddCategoryt")</button></h4>
    </div>
</div>